@media (max-width: 767px) {
    .center,
    .wrapper-center {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }

    .search,
    .navigation-link {
        display: none;
        position: relative;
    }
    .icon-basket {
        @include flex;
        gap: 40px;
    }

    .text {
        text-align: center;
    }

    .choice {
        @include flexColumn;
        justify-content: center;
    }

    .box-rest,
    .box-job {
        @include box;
    }

    .box-kitchen,
    .box-children-room,
    .box-bathroom {
        @include box;
        height: 375px;
    }

    .dropdown {
        width: 288px;
        height: 41px;
        font-size: 14px;
        line-height: 17px;
    }

    .breadcrumbs {
        @include flexColumn;
    }

    .section-box-stock,
    .div-section-catalog {
        justify-content: flex-start;
        row-gap: 29px;
        column-gap: 20px;
    }

    .box-stock,
    .box-product,
    .product-wrapper,
    .box-stock {
        max-width: 342px;
    }

    .img {
        width: 100%;
    }

    .div-footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        width: 99px;
    }

    .title {
        font-size: 48px;
        line-height: 59px;
    }

    .slogan {
        font-size: 16px;
        line-height: 32px;
    }

    .catalog-link-two {
        font-size: 14px;
        line-height: 24px;
    }

    .title-choice {
        font-size: 24px;
        line-height: 29px;
    }

    .box-rest,
    .box-job,
    .box-kitchen,
    .box-children-room,
    .box-bathroom {
        font-size: 28px;
        line-height: 34px;
        max-height: 243px;
    }

    .box-rest::before,
    .box-job::before,
    .box-kitchen::before,
    .box-children-room::before,
    .box-bathroom::before {
        display: table-cell;
        padding-top: 111px;
    }

    .caption {
        font-size: 24px;
        line-height: 29px;
    }

    .title-section-catalog {
        font-size: 24px;
        line-height: 29px;
    }

    .footer-menu {
        margin-right: 100px;
    }

    .title-catalog,
    .title-basket {
        text-align: center;
    }

    .product-information {
        display: none;
    }

    .item-in-card-border-top {
        border-top: 0.5px solid $basic-border;
        padding-top: 18px;
    }

    .img-cart {
        display: none;
    }

    .name-product {
        font-size: 18px;
        line-height: 22px;
    }

    .description,
    .item-in-card_price {
        font-size: 12px;
        line-height: 15px;
    }

        .card-button-order {
        margin-left: 26px;
    }

    .header-catalog {
        background-image: url(img/basket-mobile.png);
    }

    .search_wrapper {
        position: relative;
    }

    .search_icon {
        position: absolute;
        visibility: visible;
        top: 14px;
    }

    .navigation {
        padding-top: 50px;
    }

    .search_icon,
    .burger {
    visibility: visible;
    clip: auto;
}

    .navigation_icon {
        @include flex;
        gap: 25px;
	    position: absolute;
        top: 62px;
        right: 15px;
        visibility: visible;
        clip: auto;
    }

    .ofer-oder {
        width: auto;
    }

    .card-info {
        padding-right: 0;
    }

    .card-button-clear,
    .card-button-proceed {
        width: 166px;
    }

    .info-customer {
        width: 343px;
    }
}
