//font
$font-basic-size: 64px;;
$font-basic-line: 70px;

//color
$basic-black: #000000;
$basic-white: #ffffff;
$basic-color-background: #F7F6F6;
$basic-color-text: #888888;
$basic-border: #CACDD8;
$basic-blue: blue;
$basic-red: red;

// Viewports
$mobile-width: 320px;
$tablet-width: 1023px;
