@import 'mixin';
@import 'variables';


* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    visibility: hidden;
}

.header {
    min-height: 735px;
    background-image: url(img/Rectangle15.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 64px;
}

.header-catalog {
    min-height: 400px;
    background-image: url(img/basket.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.center {
    @include centering();
}

.search {
    margin: 16px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    width: 288px;
    height: 41px;
    padding: 0 32px 0 32px;
    color: $basic-white;
    position: relative;
    &:focus {
        border: 3px solid $basic-color-text;
        box-shadow: 1px 1px 2px 0 $basic-color-text;
    }
}

.search::placeholder {
    color: #FFFFFF;
    background: unset;
    position: absolute;
    left: 9px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}


.logo {
    padding: 16px;
}

.navigation-link {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.catalog-link,
.basket-link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: $basic-white;
    font-style: normal;
    font-weight: normal;
    &:hover {
        text-decoration: underline;
        transition:0.1s;
        color: $basic-border;
    }
    &:active {
        transition:0.1s;
        color: $basic-color-background;
    }
}

.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    padding: 64px 0 16px 0;
    color: #FFFFFF;
    width: 792px;
}

.slogan {
    line-height: 32px;
    font-size: 24px;
    padding-bottom: 16px;
    color: #FFFFFF;
}

.catalog-link-two {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    &:hover {
        transition:0.1s;
        color: $basic-color-text;
    }
    
    &:active {
        transition:0.1s;
        color: $basic-border;
    }
}

.title-choice {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}

.section {
    margin-bottom: 73px;
}

.section-choice {
    margin-bottom: 64px;
}
.choice {
    padding-top: 32px;
    text-align: center;
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.box-rest,
.box-job,
.box-kitchen,
.box-children-room,
.box-bathroom {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: white;
    text-transform: uppercase;
    background-repeat: no-repeat;
    text-decoration: none;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box-rest,
.box-job {
    grid-column: span 6;
    height: 415px;
}

.box-kitchen,
.box-children-room,
.box-bathroom {
    grid-column: span 4;
    height: 415px;
}

.box-rest {
    background-image: url(img/Rectangle17.png);
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: white;
}

.box-job {
    background-image: url(img/Rectangle18.png);
}

.box-kitchen {
    background-image: url(img/Rectangle19.png);
}

.box-children-room {
    background-image: url(img/Rectangle20.png);
}

.box-bathroom {
    background-image: url(img/Rectangle21.png);
}

.caption,
.title-section-catalog {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    padding-bottom: 32px;
}

.box-stock {
    max-width: 379px;
    transition: .3s; /* Время эффекта */
    display: block;
}

.section-box-stock {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.name-product {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 8px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        transition:0.1s;
        color: $basic-border;
    }
    &:active {
        transition:0.1s;
        color: $basic-color-background;
    }
}

.description {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    padding-bottom: 12px;
}

.new-price,
.price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.old-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}


.div-section-catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 39px;
}

.box-product {
    max-width: 378px;
    transition: .3s; /* Время эффекта */
    display: block;
    &_:hover {
        transform: scale(1.05);
    
    &_::after {
        opacity: 1;
    }
    }
}

.link-to-catalog {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    &:hover {
        transition:0.1s;
        color: $basic-color-text;
    }
    
    &:active {
        transition:0.1s;
        color: $basic-border;
    }
}

.menu,
.contacts {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 12px;
}

.footer {
    background-color: #F7F6F6;
    @include centering();
}

.div-footer {
    padding-top: 32px;
    @include flex;
    flex-wrap: nowrap;
}

.footer-menu,
.footer-contacts,
.div-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-logo {
    max-width: 198px;
    height: 44px;
}

.footer-menu {
    padding-bottom: 59px;
}

.footer-contacts {
    padding-bottom: 47px;
}

.footer-main-link,
.footer-catalog-link,
.footer-basket-link,
.phone,
.email {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}

.footer-main-link:hover,
.footer-catalog-link:hover,
.footer-basket-link:hover {
    text-decoration: underline;
}

.desc {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding-bottom: 16px;
    font-family: 'Roboto', sans-serif;;
}

.input-email {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: 275px;
    height: 46px;
    padding: 0 25px 0 25px;
    color: $basic-blue;
    position: relative;
}

::placeholder {
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
    position: absolute;
    left: 25px;
    top: 12px;
}

.button {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid $basic-white;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: $basic-black;
    &:hover {
        background-color: $basic-black;
        color: $basic-white;
    }
}

.breadcrumbs {
    list-style: none;
    margin-top: 64px;
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
}

.breadcrumbs-item {
    display: inline;
    font-size: 16px;
    line-height: 32px;
}

.breadcrumbs-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.breadcrumbs-link:hover {
    text-decoration: underline;
}

.dropdown {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 11px 75px 10px 14px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    background-color: white;
    background-image: url(img/Polygon1.svg);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    text-indent: 1px;
    font-size: 16px;
    line-height: 20px;
}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-wrapper {
    max-width: 379px;
    margin-bottom: 48px;
}

.wrapper-center {
    @include centering();
}

.card-set {
    margin-top: 64px;
    margin-bottom: 74px;
    @include flex;
    gap: 33px;
}

.ofer-oder {
    display: flex;
    @include flexColumn;
    gap: 32px;
    width: 786px;
}

.product-information {
    @include flex;
    @include border;
    max-width: 786px;
}

.item-in-card {
    @include flex;
    @include border;
    padding-bottom: 32px;
    justify-content: flex-start;
    border-bottom: 0.5px solid $basic-border;
}

.card {
    border: none;
}

.card-info {
    @include flexColumn;
    align-items: flex-start;
    padding-left: 32px;
    padding-right: 235px;
}

.order-card {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    width: 379px;
    height: 556px;
    background: #F7F6F6;
    border-radius: 20px;
}

.letter-subtitle,
.contacts__input,
.input-address {
    border: none;
    background: transparent;
    border-bottom: 1px solid $basic-border;
    font-size: 14px;
    line-height: 17px;
    width: 288px;
    margin-left: 27px;
    color: $basic-black;
    margin-bottom: 44px;
}

.item-in-card_description {
    max-width: 276px;
}

.item-in-card_price {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
}

.item-in-card_button {
    gap: 30px;
    @include flex;
}

.basket-button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 14px;
}

.number {
    width: 71px;
    height: 51px;
    background: $basic-color-background;
    border-radius: 6px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    text-indent: 1px;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    font: inherit;
    border: none;
    border-radius: 6px;
    background-color: $basic-color-background;
    text-align: center;
    margin-left: auto;
}

.card-button {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.card-button-clear,
.card-button-proceed {
    @include button-basket;
    font-family: 'Montserrat', sans-serif;
}

.card-button-clear:hover {
    background-color: $basic-red;
    border: 1px solid #770404;
    color: $basic-white;
}

.card-button-proceed:hover {
    background-color: $basic-black;
    color: $basic-white;
}

.order-card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding-top: 42px;
    padding-bottom: 35px;
}


.info-customer {
    @include flexColumn;
    margin-bottom: 68px;
}

.basket-order {
    @include flex;
    justify-content: center;
    gap: 18px;
    max-width: 150%;
}

.total-line {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    border: none;
    background-color: transparent;
}

.sum {
    font-weight: 500;
    text-align: left;
}

.card-button-order {
    @include button-basket;
    font-family: 'Montserrat', sans-serif;
    width: 290px;
    height: 41px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 45px;
    animation: btn__order-btn 2s ease 1s 1 normal forwards;
}

.section-box-stock {
    margin-bottom: 33px;
}

.old-price-basket {
    padding-left: 32px;
}

.main-basket {
    margin-bottom: 64px;
}

.section-catalog {
    margin-bottom: 64px;
}

.order-form {
    border: none;
    padding-bottom: 28px;
}

.icon-basket {
    display: none;
}

/**.box-stock :hover {
    transform: scale(1.05);
    box-shadow: 4px 3px 24px 0px #000;
    &_::after {
        opacity: 1;
    }
}**/

.img:hover {
    transform: scale(1.05);
    box-shadow: 4px 3px 24px 0px #000;
    &_::after {
        opacity: 1;
    }
}

.link__active:hover {
    transform: scale(1.05);

}

.social-networks {
    @include flex;
}

.social-networks_link {
    text-decoration: none;
    &:hover {
        opacity: .5; 
        transition:0.1s;
    }

    &:active {
    transition:0.1s;
    color: #525252;
    }
}

.phone:hover,
.email:hover {
    color: $basic-blue;
}

@keyframes btn__order-btn {
    0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-40px);
}

    24% {
    opacity: 1;
    }

    40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
    }

    65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
    }

    82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
    }

    93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
    }

    100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
    }
}

.search_icon,
.navigation_icon {
    visibility: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.burger_link,
.basket_icon-link {
    text-decoration: none;
}

.input-font {
    font-family: 'Montserrat', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

.wrap-num {
    position: relative;
}

.wrap-btn {
    position: absolute;
    @include flexColumn;
    top: 10px;
    left: 47px;
}

.btn {
    border: none;
    background: transparent;
}

.down-img {
    transform: rotate(180deg);
}

@import 'tablet';
@import 'mobile';